<div class="chocolate-hero-section" style="background-image: url('{{ .Params.hero_image }}')">
    <div class="hero-row-group">
        <div class="hero-row">
            <div class="hero-row-item hero-text-info">
                <h1 class="mdl-typography--display-3">{{.Params.hero_title}}</h1>
                <h2>{{.Params.hero_subtitle}}</h2>
                <p>
                    {{.Params.hero_content}}
                </p>
            </div>
            <div class="hero-row-item hero-video">
                <iframe src="{{.Params.hero_video_url}}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>